/* #region spinner */
.container-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.651);
}
.container-spinner img {
    width: 200px;
    height: 200px;
}

/* #endregion */

/*#region Tabla */
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: whitesmoke;}

th{
    background-color: lightseagreen;
    color: white;
    
}

/*#endregion*/

/* #region Nav */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*#endregion*/

/* #region carga */
.container-carga {
    width: 35%;
    height: 40%;
    margin-bottom: 2%;
    min-width: 400px;
    background: whitesmoke;
    display: none;
}



.container-modificar{
    width: 35%;
    height: 50%;
    margin-bottom: 2%;
    min-width: 400px;
    background: whitesmoke;
    display: block;
}

.backdrop {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 2;
}

.botonCerrar{
  width: 7%;
  background-color:red;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 125%;
  transition: all ease 0.1s;
}

.botonCerrar:active {
    background-color:rgb(153, 0, 0);
}

.botonAgregar{
  width: 100%;
  background: lightseagreen;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 125%;
  transition: all ease 0.1s;
  font-size: 1em;
  font-weight: 600;
}

.botonAgregar:active {
    background: rgb(16, 90, 86);
}


.form-agregar, .form-modificar {
    padding: 5%;
    
}

.form-agregar input[type=text], .form-agregar input[type=date], .form-modificar input[type=text], .form-modificar input[type=date]{
    width: 99%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-agregar input[type=text]:focus, .form-modificar input[type=text]:focus{
    outline-color: rgba(0,0,0,0)
}

.form-agregar label, .form-modificar label {
    margin: 2px 0;
}

.form-agregar input[type=radio], .form-modificar input[type=radio] {
    display: inline-block;
}

.error {
    border: red 5px solid;
}

.container-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonEliminar, .botonModificar {
    width: 45%;
    margin-top: 10px;
    padding: 10px;
    color: whitesmoke;
    font-size: 1em;
    font-weight: 600;
    background: red;
    border: none;
    border-radius: 5px;
    transition: ease all 0.2s;
}

.botonModificar {
    background: rgb(23, 146, 23);
}

.botonEliminar:active {
    background: rgb(122, 2, 2);
}

.botonModificar:active {
    background: rgb(19, 90, 19);
}

/* #endregion */
